pantry-folder {
  .row {
    .col {
      .item.item-block {
        background: transparent;

        .item-inner {
          border-bottom: none;

          .label>p {
            color: #000000;
            opacity: 0.7;
          }
        }
      }
    }
  }
}
