pantry-folder {
  .row {
    .col {
      .item.item-block {
        background: transparent;

        .item-inner {
          .label>p {
            color: #000000;
            opacity: 0.7;
          }
        }
      }
      .item-md.item-block{
          .item-inner {
              border: none;
          }
      }
    }
  }
}
