.login {
    background-image: url('../assets/img/despensa.jpg');
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;

    .logo {
      height: 50%;
      width: 100%;
      .logo-icon {
        text-align: center;
        font-size: 40px;
        padding-top: 30%;
        color: white;
      }
    }

    ion-input, button {
      margin: auto;
      width: 95%;
      margin-bottom: 5px;
    }

    ion-input {
      -webkit-box-shadow: inset 0px 0px 150px 6px rgba(255,255,255,1);
      -moz-box-shadow: inset 0px 0px 150px 6px rgba(255,255,255,1);
      box-shadow: inset 0px 0px 150px 6px rgba(255,255,255,1);
    }
}
