.login {
    background-image: url('../assets/img/splash.png');
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;

    .logo {
      height: 50%;
      width: 100%;
      .logo-icon {
        text-align: center;
        font-size: 40px;
        color: white;
      }
    }

  .terms-of-use-txt {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    font-size: 10px;
    color: white;
  }
  
    ion-input, button {
      margin: auto;
      width: 95%;
      margin-bottom: 5px;
    }

    ion-input {
      -webkit-box-shadow: inset 0px 0px 150px 6px rgba(255,255,255,1);
      -moz-box-shadow: inset 0px 0px 150px 6px rgba(255,255,255,1);
      box-shadow: inset 0px 0px 150px 6px rgba(255,255,255,1);
    }
}
