.remove-item {

  .number-selector {
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 40px;

    .minus-button {
      float: left;
      padding: 0 1.3rem;
    }

    .add-button {
      float: right;
      padding: 0 1.3rem;
    }
  }
}
