<ion-header>
  <ion-navbar color="indigo500">
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center *ngIf="type === 'add'">
      {{ 'Modal.ItemModal.add-header' | translate }}
      </ion-title>
    <ion-title text-center *ngIf="type === 'edit'">
      {{ 'Modal.ItemModal.edit-header' | translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button outline (click)="accept()">
        {{ 'Modal.ItemModal.accept-button' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="itemModal">
  <form [formGroup]="itemForm">
    <ion-list>
      <ion-item>
        <ion-label>{{ 'Modal.ItemModal.name-label' | translate }}</ion-label>
        <ion-input formControlName="name" placeholder="{{item?.title}}" type="text"></ion-input>
      </ion-item>
      <div *ngIf="!itemForm.get('name').valid && itemForm.get('name').touched">
        <p class="error-text" *ngIf="itemForm.get('name').errors['pattern']">
          {{ 'Validations.modal-name-pattern' | translate }}
        </p>
        <p class="error-text" *ngIf="itemForm.get('name').errors['required']">
          {{ 'Validations.modal-name-required' | translate }}
        </p>
      </div>
      <ion-item>
        <ion-label>{{ 'Modal.ItemModal.quantity-label' | translate }}</ion-label>
        <ion-input formControlName="quantity" 
                   placeholder="{{item?.units}}" 
                   type="number">
        </ion-input>
      </ion-item>
      <div *ngIf="!itemForm.get('quantity').valid && itemForm.get('quantity').touched">
          <p class="error-text">{{ 'Validations.modal-quantity' | translate }}</p>
      </div>
    </ion-list>
  </form>
  <button *ngIf="type === 'edit'" ion-button full (click)="remove()" color="red">
    {{ 'Modal.ItemModal.delete-button' | translate }}
  </button>
</ion-content>