<ion-header>
  <ion-navbar color="indigo500">
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center *ngIf="type === 'add'">{{ 'AddItem.view-header' | translate }}</ion-title>
    <ion-title text-center *ngIf="type === 'edit'">{{ 'EditItem.view-header' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button outline (click)="accept()">
        {{ 'Common.accept' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="itemModal">
  <form [formGroup]="itemForm">
    <ion-list>
      <ion-item>
        <ion-label>{{ 'AddItem.name-label' | translate }}</ion-label>
        <ion-input formControlName="name" placeholder="{{item?.title}}" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="!itemForm.get('name').valid  && itemForm.get('name').touched">
        <p *ngIf="itemForm.get('name').errors['pattern']">Solo letras y la primera en mayúscula</p>
        <p *ngIf="itemForm.get('name').errors['required']">{{ 'Validations.validName' | translate }}</p>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'AddItem.quantity-label' | translate }}</ion-label>
        <ion-input formControlName="quantity" placeholder="{{item?.units}}" type="number"></ion-input>
      </ion-item>
      <ion-item *ngIf="!itemForm.get('quantity').valid  && itemForm.get('quantity').touched">
          <p>{{ 'Validations.validQuantity' | translate }}</p>
      </ion-item>
    </ion-list>
  </form>
  <button *ngIf="type === 'edit'" ion-button full (click)="remove()" color="red">
    {{ 'EditItem.delete-button' | translate }}
  </button>
</ion-content>