.pantryListHeader{
  &.header-md::after{
    content: none;
  }

  .toolbar-md {
    min-height: 57px;
  }
}

.pantryListTabs {
  .tabs-md{
    .tabbar {
      background-color: #3F51B5;
    }
    .tab-button[aria-selected=true]{
      color: #FFFFFF;
      opacity: 1;
    }
    .tab-button[aria-selected=false]{
      color: #FFFFFF;
      opacity: 0.5;
    }
  }
}
