shoplist-item {
  .row {
    .col {
      .item.item-block {
        background: transparent;

        .item-inner {
          .label>p {
            color: #000000;
          }
          .minimum {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
