:host {
  background-image: url(/assets/imgs/splash.png);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;

  ion-content {
    --background: none;
  }

  ion-button {
    --color: none;
    --border-width: 0;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
  }


  .buttons-container {
    position: absolute;
    bottom: 50px;
    width: 100%;
  }
}
