.settings {
    .hint-text-color {
        color: #000000;
        opacity: 0.38;
        font-weight: bolder;
        border-bottom: none;
    }

    .primary-text-color {
        color: #000000;
        opacity: 0.87;
    }

    .secondary-text-color {
        color: #000000;
        opacity: 0.54;
    }

    .item-md.item-block .item-inner {
        border-bottom: none;
    }

    ion-item-group {
        border-top: 1px solid #e0e0e0;
        margin-bottom: 8px;

        &:first-child() {
            border-bottom: none;
        }
    }

    ion-select {
      .select-text {
        color: #3D5AFE;
      }

      .select-icon {
        display: none;
      }
    }
}
