settings-page {

    .content {
        background-color: #f5f5f5;

        .primary-text-color {
            color: #000000;
            opacity: 0.90;
        }

        .hint-text-color {
            color: #000000;
            opacity: 0.70;
            border-bottom: none;
        }

        .secondary-text-color {
            color: #000000;
            opacity: 0.70;
        }

        .item-md.item-block .item-inner {
            border-bottom: none;
        }

        ion-item-group {
            border-top: 1px solid #bdbdbd;
            margin-bottom: 8px;

            &:first-child() {
                border-bottom: none;
            }

            ion-item.item.item-block, ion-item-divider {
                background-color: #f5f5f5;
            }
        }

        ion-select {
            .select-text {
                color: color($colors, md-secondary);
            }

            .select-icon {
                display: none;
            }
        }
    }
}
