 <ion-row *ngFor="let item of items">
    <ion-col col-7 (click)="onEdit(item, item.$key, $event)">
        <ion-item>
            <p>{{item.title}}</p>
        </ion-item>
    </ion-col>
    <ion-col col-5>
        <ion-item>
            <p>{{item.units}}</p>            
            <button ion-button outline item-right (click)="onAdd(item, item.$key, $event)">
                <ion-icon name="add"></ion-icon>
            </button>
            <button ion-button outline item-right (click)="onRemove(item, item.$key, $event)">
                <ion-icon name="remove"></ion-icon>
            </button>
        </ion-item>
    </ion-col>
</ion-row>