// http://ionicframework.com/docs/v2/theming/

#menu-material {
  .menu-header {
    padding: 5px 15px;
    background-image: url('../assets/img/material-design.png');
    background-size: cover;
    color: white;
    .name {
      font-weight: 500;
      margin-bottom: 3px;
    }
    .e-mail {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
  .user-avatar {
    padding: .5em;
    height: 12vh;
  }
  h3,
  .label,
  {
    color: #999;
    font-weight: 400;
  }
  ion-icon {
    color: #777;
  }
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../pages/home/home";
@import "../pages/signup/signup";
@import "../pages/login/login";
@import "../pages/pantry/pantry";
@import "../modals/itemModal/itemModal";
@import "../pages/customTab/customTab";

@import "../theme/global";
