:host {
    .no-items {
        align-items: center;
        display: flex;
        flex-direction: column;

        p {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        ion-button {
            margin-top: 20px;
        }
    }
}