:host {
  background-image: url('/assets/imgs/splash.png');
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;

  ion-content {
    --background: none;

    ion-input {
      margin: auto;
      width: 92%;
      margin-bottom: 16px;
      background: rgba(255, 255, 255, 0.7);
      -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
      box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    }

    ion-button {
      --color: none;
      --border-width: 0;
      background-color: rgba(255, 255, 255, 0.7);
      margin-left: 16px;
      margin-right: 16px;
      margin-top: 16px;
    }
  }

  form {
    position: absolute;
    bottom: 50px;
    width: 100%;
  }
}
