<ion-header no-border>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <div class="logo">
    <div class="logo-icon">
      <img src="assets/imgs/logotipo.png" alt="Pantrify Logo">
    </div>
  </div>
  <form [formGroup]="loginForm">
    <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
    <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
    <ion-button fill="outline" expand="block" (click)="onLogin()">
      {{ 'Home.login' | translate }}
    </ion-button>
  </form>
</ion-content>
