.addItemModal {
  .input-has-focus{
    .label-md[floating]{
      color: #FF4081;
    }
  }

  .list-md{
    .item-input.input-has-focus:last-child{
      border-bottom-color: #FF4081;
      box-shadow: inset 0 -1px 0 0 #FF4081;
    }
  }

  .item-md.item-input.input-has-focus {
    .item-inner {
      border-bottom-color: #FF4081;
      box-shadow: inset 0 -1px 0 0 #FF4081;      
    }
  }

  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    box-shadow: none;
  }
}
