.addItemModal {

  .list-md{
    .item-md {
      &.item-select {
        margin-top: 10px;
        
        ion-select {
          .select-text {
            color: color($colors, black);
          }

          .select-icon {
            display: none;
          }
        }
      }

      &.input-has-focus{
        .label-md {
          color: color($colors, indigo500);
        }

        .item-inner {
          border-bottom-color: color($colors, indigo500);
          box-shadow: inset 0 -1px 0 0 color($colors, indigo500);
        }
        
        &:last-child {
          border-bottom-color: color($colors, indigo500);
          box-shadow: inset 0 -1px 0 0 color($colors, indigo500);
        }
      }

      &.item-input {
        &.ng-invalid.ng-touched:not(.input-has-focus) {
          .label {
            color: color($colors, error);
          }
        }
      }
    }
  }
}
