.update-item {

  .label-md-pink200 {
    top: 50px;
    z-index: 9;
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 20px 12px 20px 12px;
    margin: 0;
  }

  .list-md {
    margin-top: 20px;
  }

  .list-md {
    .item-block {
      .item-inner{
         border-bottom: none;
      }
    }

    .label {
      text-align: center;
    }
  }
}
