.customTab {
    .no-items {
        margin-top: 50%;
        .no-items-text {
            color: #000000;
            opacity: 0.54;
            font-style: italic;
        }
    }

    .item-md.item-block {
        .item-inner {
            border-bottom: none;
        }
    }

    ion-grid {
        ion-row {
            ion-col {
                border-bottom: 1px solid #dedede;
            }

            &:last-child {
                ion-col {
                    border-bottom: none;
                }
            }
        }
    }
}