<ion-content class="customTab">
  <ion-grid>
    <ion-row *ngFor="let item of items | async">
      <ion-col col-12 *ngIf="item.isFolder">
        <ion-item (click)="expandItem(item)">
          <p>{{item.title}}</p>
          <expandable [expanded]="item.expanded" [expandHeight]="40">
            <folder-item [products]="item.products"></folder-item>
          </expandable>
        </ion-item>
      </ion-col>
      <ion-col *ngIf="!item.isFolder" col-7 (click)="onEdit(item, item.$key)">
          <ion-item>
              <p>{{item.title}}</p>
          </ion-item>
      </ion-col>
      <ion-col *ngIf="!item.isFolder" col-5>
          <ion-item>
              <p>{{item.units}}</p>            
              <button ion-button outline item-right (click)="onAdd(item, item.$key)">
                <ion-icon name="add"></ion-icon>
              </button>
              <button ion-button outline item-right (click)="onRemove(item, item.$key)">
                <ion-icon name="remove"></ion-icon>
              </button>
          </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="no-items" *ngIf="(items | async)?.length === 0">
    <p class="no-items-text" text-center>{{ 'CustomTab.no-items.text1' | translate }}</p>
    <p class="no-items-text" text-center>{{ 'CustomTab.no-items.text2' | translate }}</p>
  </div>
</ion-content>