.customTab {

    background-color: #f5f5f5;

    .expandable-button {
        position: absolute;
        right: 8px;
        top: 0;
    }

    .no-items {
        margin-top: 50%;
        .no-items-text {
            color: #000000;
            opacity: 0.54;
            font-style: italic;
        }
    }

    .item-md.item-block {
        .item-inner {
            border-bottom: none;
        }
    }

    ion-grid {
        ion-row {
            ion-col {
                border-bottom: 1px solid color($colors, md-primary-light);
                .item.item-block {
                    background-color: transparent;
                }
            }

            &:last-child {
                ion-col {
                    border-bottom: none;
                    .item.item-block {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}