<ion-content class="customTab">
  <ion-grid>
    <ion-row *ngFor="let item of items | async">
      <ion-col col-12 *ngIf="item.isFolder" (click)="onEditFolder(item, item.$key)">
        <ion-item>
          <p>{{item.title}}</p>
          <button class="expandable-button" color="md-secondary" ion-button clear item-right (click)="expandItem(item)">
            <ion-icon *ngIf="!item.expanded" name="arrow-dropdown"></ion-icon>
            <ion-icon *ngIf="item.expanded" name="arrow-dropup"></ion-icon>
          </button>
          <expandable *ngIf="item.products" [expanded]="item.expanded">
            <folder-item [products]="item.products"
                         [type]="type.key"
                         [folder]="item">
            </folder-item>
          </expandable>
        </ion-item>
      </ion-col>
      <ion-col *ngIf="!item.isFolder" col-7 (click)="onEditItem(item, item.$key)">
          <ion-item>
              <p>{{item.title}}</p>
          </ion-item>
      </ion-col>
      <ion-col *ngIf="!item.isFolder" col-5>
          <ion-item>
              <p>{{item.units}}</p>            
              <button ion-button item-right color="md-secondary" (click)="onAdd(item, item.$key)">
                <ion-icon name="add"></ion-icon>
              </button>
              <button ion-button item-right color="md-secondary" (click)="onRemove(item, item.$key)">
                <ion-icon name="remove"></ion-icon>
              </button>
          </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="no-items" *ngIf="(items | async)?.length === 0">
    <p class="no-items-text" text-center>{{ 'CustomTab.no-items.text1' | translate }}</p>
    <p class="no-items-text" text-center>{{ 'CustomTab.no-items.text2' | translate }}</p>
  </div>
</ion-content>