<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'Pantry.view-header' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onAdd($event)">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs>

      <ion-tab-bar>
  
        <ion-tab-button tab="food">
            <ion-label>Food</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="drink">
            <ion-label>Drink</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="home">
            <ion-label>Home</ion-label>
        </ion-tab-button>
  
      </ion-tab-bar>
  
    </ion-tabs>
  </ion-content>