<ion-header>
  <ion-navbar color="indigo500">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'Inventory.view-header' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="inventory">
  <ion-card>
    <ion-card-header>
      {{ 'Inventory.divider-one' | translate }}
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let f of food | async">
            <ion-label>{{f.title}}</ion-label>
            <ion-label text-right>{{f.units}}</ion-label>            
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-card-header>
      {{ 'Inventory.divider-two' | translate }}
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let d of drink | async">
            <ion-label>{{d.title}}</ion-label>
            <ion-label text-right>{{d.units}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-card-header>
      {{ 'Inventory.divider-three' | translate }}
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let h of home | async">
            <ion-label>{{h.title}}</ion-label>
            <ion-label text-right>{{h.units}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-fab right bottom>
     <button ion-fab color="indigo500" (click)="onAdd()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
