.sidemenu {
  .list-md > .item-block:last-child {
    border: none;
  }

  .list-md > .item-block:last-child .item-inner{
    border-bottom: 1px solid #dedede;
  }

  .list-md {
    .item-block {
        padding: 16px 16px 0 16px;
    }
  }
}
