.sidemenu {
    ion-list:nth-child(2) {
        padding-bottom: 8px;
        padding-top: 8px;
        border-bottom: 1px solid #e0e0e0;
    }

    .sidemenu-avatar {
        height: 200px;
        margin-bottom: 0;
        background-image: url('../assets/img/material-design.png');
        background-size: cover;

        .item-md {
            background-color: transparent;

            ion-avatar {
                    margin-top: 50px;
                    margin-bottom: 20px;

                img {
                    max-width: 7rem;
                    max-height: 7rem;
                }
            }

            h2, p {
                color: white;
                font-size: 14px;
            }
        }
    }
}