<ion-menu [content]="content" class="sidemenu">
  <ion-content>
    <ion-list no-lines class="sidemenu-avatar">
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/img/user.png">
        </ion-avatar>
      </ion-item>
      <ion-item>
        <h2>Username</h2>
        <p>user.email.test@gamil.com</p>
      </ion-item>
    </ion-list>
    <ion-list no-lines>
      <ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon color="gray" name="{{p.icon}}" item-left></ion-icon>
          {{p.title}}
      </ion-item>
    </ion-list>
    <ion-list no-lines>
      <ion-item menuClose *ngFor="let p2 of pages2" (click)="openPage(p2)">
        <ion-icon color="gray" name="{{p2.icon}}" item-left></ion-icon>
          {{p2.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
