<ion-header>
  <ion-navbar color="indigo500">
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      {{ 'Modal.ShopItemModal.shop-header' | translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button outline (click)="accept()">
       {{ 'Modal.ShopItemModal.accept-button' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="shopItemModal">
  <form [formGroup]="shopItemForm">
    <ion-list>
      <ion-item>
        <ion-label>{{ 'Modal.ShopItemModal.name-label' | translate }}</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
      <div *ngIf="!shopItemForm.get('name').valid && shopItemForm.get('name').touched">
        <p class="error-text" *ngIf="shopItemForm.get('name').errors['pattern']">
          {{ 'Validations.modal-name-pattern' | translate }}
        </p>
        <p class="error-text" *ngIf="shopItemForm.get('name').errors['required']">
          {{ 'Validations.modal-name-required' | translate }}
        </p>
      </div>
      <ion-item>
        <ion-label>{{ 'Modal.ShopItemModal.quantity-label' | translate }}</ion-label>
        <ion-input formControlName="quantity" type="number"></ion-input>
      </ion-item>
      <div *ngIf="!shopItemForm.get('quantity').valid && shopItemForm.get('quantity').touched">
          <p class="error-text">{{ 'Validations.modal-quantity' | translate }}</p>
      </div>
      <ion-item>
        <ion-label>
          {{ 'Modal.ShopItemModal.category-label' | translate }}
        </ion-label>
        <ion-select formControlName="category">
          <ion-option value="food">
            {{ 'Modal.ShopItemModal.category-1' | translate }}
            </ion-option>
          <ion-option value="drinks">
            {{ 'Modal.ShopItemModal.category-2' | translate }}
            </ion-option>
          <ion-option value="home">
            {{ 'Modal.ShopItemModal.category-3' | translate }}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>